.quem-somos{
	width: 100%;
	height: 900px;
	left: 0px;
	top: 500px;
	background: linear-gradient(180deg, #02172E 4.79%, #141618 27.24%);
	padding-bottom: 40px;
	padding-top: 10px
}
.texto{
	text-align: center;
	margin-top: 71px;
	font-size: 10px;
	color: #FFFFFF;
	font-style: normal;
	letter-spacing: 0.35em;
	line-height: 15px;
	font-weight: 600;
}
.quem-somos h1{
	text-align: center;
	font-size: 50px;
	line-height: 75px;
	font-weight: 800;
	color: #FFFFFF;
	margin-top: 30px;
	margin-bottom: 0;
}
hr{
	width: 200px;
	height: 3px;
	background: #C4C4C4;
	margin-top: 3px;
}
.bloco-clube{
	width: 350px;
	height: 600px;
	box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	background: #FFFFFF;
	margin: 60px auto;
}
.clube h1{
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 80px;
	text-align: center;
	color: #000000;
	margin: 0 auto;
	height: 50px;
	padding-bottom: 50px;
	font-family: 'Poppins', sans-serif;
}
.clube h1:first-child{
	padding-top: 25px
}
.clube p{
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #000000;	
	height: 22px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 10px;
	padding-top: 10px;
}
.paragrafo p:first-child{
	padding-top: 10px;
}
.paragrafo{
	margin: 0 auto;
	width: 302px;
	height: 251px;
}
.paragrafo p{
	text-align: center;
	margin: 0 auto;
	width: 300px;
	height: 120px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	font-family: 'Nunito', sans-serif;
	padding-top: 25px;
}
.nossas-soluçoes{
	width: 100%;
	background: #00162E;
	padding-bottom: 60px;
}
.texto-pequeno{
	text-align: center;
	width: 77px;
	height: 15px;
	margin: 0 auto;
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 15px;
	letter-spacing: 0.35em;
	color: #FFFFFF;
	padding-bottom: 20px;
	padding-top: 30px;
}
.titulo-soluçoes{
	text-align: center;
	width: 319px;
	height: 110px;
	margin: 0 auto;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 45px;
	color: #FFFFFF;
}
.hr-soluçoes{
	width: 100px;
	height: 3px;
	background: #FFFFFF;	
}
.treinamentos, .cursos, .consultoria, .mentorias{
	width: 260px;
	margin:0 auto;
	height: 232px;
}
.treinamentos h2{
	text-align: center;	
	display: inline-block;
	vertical-align: center;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	margin-bottom: 0;
}
.treinamentos p{
	width: 170px;
	margin: 0 auto;
	color: #FAFAFA;
	font-size: 18px;
	line-height: 18px;
	text-align: left;
}
.cursos h2{
	text-align: center;	
	display: inline-block;
	vertical-align: center;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	margin-bottom: 0;
}
.cursos p{
	width: 190px;
	margin: 0 auto;
	color: #FAFAFA;
	font-size: 18px;
	line-height: 18px;
	text-align: left;
}
.consultoria h2{
	display: inline-block;
	text-align: center;
	vertical-align: center;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 45px;
	margin-bottom: 0;
}
.consultoria p{
	width: 190px;
	margin: 0 auto;
	color: #FAFAFA;
	font-size: 18px;
	line-height: 18px;
	text-align: left;
}
.mentorias h2{
	display: inline-block;
	text-align: center;
	vertical-align: center;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 45px;
	margin-bottom: 0;
}
.mentorias p{
	width: 190px;
	margin: 0 auto;
	color: #FAFAFA;
	font-size: 18px;
	line-height: 18px;
	text-align: left;
}
.botao{
	display: block;
	width:150px;
	background: #BF9F6E;
	color: black;
	font-weight: normal;
	font-size: 18px;
	border: none;
	border-radius: 40px;
	transition: 1s all;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 80px;
	height: 40px;
	box-shadow: 0px 4px 100px #000000;
}

.botao:hover {
	background: #FFFFFF;	
	color: #000000;
}
.botao:active{
	background: #FFFFFF;	
	color: #000000; 	
}
@media screen and (min-width: 650px){
	.quem-somos{
		height: auto;
	}
	.texto{
		font-size: 10px;
		width: 690px;
		margin-left: auto;
		margin-right: auto; 	
		line-height: 18px;
	}
	.quem-somos h1{
		font-size: 65px;
		line-height: 109px;
	}
	.bloco-clube{
		width: 600px;
		height: 600px;
		border-radius: 16px;
	}
	.clube h1{
		font-size: 60px;
		margin-bottom: 0.2em;	
	}
	.clube p{
		margin-top: 40px;
		padding-top: 0;
	}
	.paragrafo{
		width: 500px;
	}
	.paragrafo p{
		width: 450px;
	}
	.soluçoes{
		height: 680px;
		width: 700px;
		margin: 0 auto;
	}
	.texto-pequeno{
		font-size: 12px;
		line-height: 16px;
		padding-bottom: 20px;
		padding-top: 90px;
	}
	.titulo-soluçoes{
		font-size: 60px;
		line-height: 55px;
		margin-bottom: 20px;
	}
	.paragrafo-desktop{
		width: 50%
	}
	.paragrafo-desktop{
		text-align: center;
		color: #FAFAFA;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 23px;
		width: 80%;
		margin: 0 auto;
		padding-top: 30px;
	}
	.treinamentos h2{
		font-size: 30px;
		margin-bottom: 0;
	}
	.treinamentos p{
		font-size: 20px;
	}
	.cursos{
		margin-bottom: 60px;
	}
	.cursos h2{
		font-size: 30px;
		margin-bottom: 0;
	}
	.cursos p{
		font-size: 20px;
	}
	.consultoria h2{
		font-size: 30px;
		margin-bottom: 0;
	}
	.consultoria p{
		font-size: 20px;
	}
	
	.mentorias h2{
		font-size: 30px;
		margin-bottom: 0;
	}
	.mentorias p{
		font-size: 20px;
	}
	.botao{
		margin-top: 70px;	
	}
}
@media screen and (min-width: 1200px){
	.texto{
		font-size: 12px;
		width: 690px;
		margin-left: auto;
		margin-right: auto; 
		line-height: 18px;
	}
	.quem-somos h1{
		font-size: 73px;
		line-height: 109px;
	}
	.bloco-clube{
		position: relative;
		width: 1000px;
		height: 450px;
		border-radius: 16px;
		box-sizing: border-box;
	}
	.clube h1{
		display: inline-block;
		font-size: 72px;
		margin-bottom: 20px;
		width: 50%;	
		text-align: right;
		line-height: 85px;
		padding-bottom: 60px;
	}
	.clube h1:first-child{
		margin-top: 7%;
	}
	.clube p{
		display: inline-block;
		margin-top: 8px;
		padding-top: 0;
		width: 50%;
		text-align:right;
		line-height: 27px;
	}
	.paragrafo{
		position: absolute;
		width: 500px;
		display: inline-block;
		width: 50%;
		top: 22%;
		right: 0;
	}
	.paragrafo p{
		width: 450px;
	}
	.soluçoes{
		height: auto;
		width: 1100px;
	} 
	.texto{
		font-size: 10px;
	}
	.titulo-soluçoes{
		width: 600px;
		vertical-align: center;
		height: 60px;
		margin-top: 20px;
		font-size: 72px;
		line-height: 50px;
	}
	.paragrafo-desktop{
		width: 60%
	} 
	.treinamentos, .cursos, .consultoria, .mentorias{
		width: 450px;
		margin:0 auto;
		height: 232px;
	} 
 	.cursos p, .consultoria p, .mentorias p{
	width: 380px;
	}
	.treinamentos p{
		width: 360px;
	}
	.cursos, .mentorias{
		margin-left: 120px;
	}
	.treinamentos, .consultoria{
		margin-right: 120px;
	}
	.treinamentos, .cursos{
		margin-top: 40px;
	}
}