.quem-somos{
	width: 100%;
	height: auto;
	left: 0px;
	top: 500px;
	background: linear-gradient(180deg, #02172E 4.79%, #141618 27.24%);
	padding-bottom: 30px;
	padding-top: 10px
}
.texto{
	text-align: center;
	margin-top: 71px;
	font-size: 10px;
	color: #FFFFFF;
	font-style: normal;
	letter-spacing: 0.35em;
	line-height: 15px;
	font-weight: 600;
}
.quem-somos h1{
	text-align: center;
	font-size: 50px;
	line-height: 75px;
	font-weight: 800;
	color: #FFFFFF;
	margin-top: 30px;
	margin-bottom: 0;
}
hr{
	width: 200px;
	height: 3px;
	background: #C4C4C4;
	margin-top: 3px;
}
.bloco-clube{
	width: 95%;
	height: auto;
	box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	background: #FFFFFF;
	margin: 60px auto;
	margin-bottom: 50px;
}
.clube h1{
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 80px;
	text-align: center;
	color: #000000;
	margin: 0 auto;
	height: 50px;
	padding-bottom: 50px;
	font-family: 'Poppins', sans-serif;
}
.clube h1:first-child{
	padding-top: 25px
}
.clube p{
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #000000;	
	height: auto;
	font-family: 'Lato', sans-serif;
	margin-bottom: 10px;
	padding-top: 10px;
}
.paragrafo p:first-child{
	padding-top: 10px;
}
.paragrafo{
	margin: 0 auto;
	width: 302px;
	height: auto;
	padding-bottom: 60px;
}
.paragrafo p{
	text-align: center;
	margin: 0 auto;
	width: 300px;
	height: auto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	font-family: 'Nunito', sans-serif;
	padding-top: 25px;
}
.nossas-soluçoes{
	width: 100%;
	background: #00162E;
	padding-bottom: 100px;
}
.texto-pequeno{
	text-align: center;
	width: 77px;
	height: 15px;
	margin: 0 auto;
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 15px;
	letter-spacing: 0.35em;
	color: #FFFFFF;
	padding-bottom: 20px;
	padding-top: 60px;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}
.titulo-soluçoes{
	text-align: center;
	width: 319px;
	height: 110px;
	margin: 0 auto;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 45px;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
}
.hr-soluçoes{
	width: 100px;
	height: 3px;
	background: #FFFFFF;	
}
.soluçoes-card{
	display: grid;
	margin-left: 10%;
	grid-gap: 80px;
}
.div-card:first-child{
	margin-top: 13%;
}
.icon-soluçoes{
	height: 40px;
	width: 40px;
	object-fit: cover;
}
.soluçoes-card h2{
	font-size: 25px;
	display: inline-block;
	color: #FFFFFF;
	font-weight: 800;
	line-height: 40px;
	font-style: normal;
	margin: 0 auto;
	vertical-align: bottom;
	font-family: 'Poppins', sans-serif;	
}
.card-p{
	display: inline-block;
	margin: 0 auto;
	color: #FAFAFA;
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	width: 85%;
	padding-left: 45px;
	font-family: 'Nunito', sans-serif;
	padding-top: 10px;
}
.card-botao{
	display: grid;	
	margin-top: 30%;
	margin-bottom: 15%;	
}
.botao{
	display: block;
	width:150px;
	background: #BF9F6E;
	color: black;
	font-weight: normal;
	font-size: 18px;
	border: none;
	border-radius: 40px;
	transition: 1s all;
	cursor: pointer;
	margin: 0 auto;
	height: 40px;
	box-shadow: 0px 4px 100px #000000;
}

.botao:hover {
	background: #FFFFFF;	
	color: #000000;
	background-color: #FFFFFF;
}
.botao:focus{
	background: #FFFFFF;	
	color: #000000; 	
}
@media screen and (min-width: 650px){
	.quem-somos{
		height: auto;
	}
	.texto{
		font-size: 10px;
		width: 690px;
		margin-left: auto;
		margin-right: auto; 	
		line-height: 18px;
	}
	.quem-somos h1{
		font-size: 65px;
		line-height: 109px;
	}
	.bloco-clube{
		width: 600px;
		height: 600px;
		border-radius: 16px;
	}
	.clube h1{
		font-size: 60px;
		margin-bottom: 0.2em;	
	}
	.clube p{
		margin-top: 40px;
		padding-top: 0;
	}
	.paragrafo{
		width: 500px;
	}
	.paragrafo p{
		width: 450px;
	}
	.soluçoes{
		height: 680px;
		width: 700px;
		margin: 0 auto;
	}
	.texto-pequeno{
		font-size: 12px;
		line-height: 16px;
		padding-bottom: 20px;
		padding-top: 90px;
	}
	.titulo-soluçoes{
		font-size: 60px;
		line-height: 55px;
		margin-bottom: 20px;
	}
	.paragrafo-desktop{
		width: 50%
	}
	.paragrafo-desktop{
		display: grid;
		text-align: center;
		color: #FAFAFA;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 23px;
		width: 80%;
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom:50px;
		font-family: 'Nunito', sans-serif;
	}
	.hr-soluçoes{
		margin-bottom: 13%;
	}
	.soluçoes-card{
		grid-template-columns: 1fr 1fr;
		margin: 0 auto 40% auto;
		grid-gap: 20%;
	}
	.div-card:first-child{
		margin-top: 0;
	}
	.soluçoes-card h2{
		font-size: 30px;
	}
	.soluçoes-card p{
		font-size: 20px;
	}
	.card-botao{
		margin-top: 10%;
	}
	.botao{	
	}
}
@media screen and (min-width: 1000px){
	.soluçoes-card{
		margin-bottom: 30%;
	}
}
@media screen and (min-width: 1200px){
	.texto{
		font-size: 12px;
		width: 690px;
		margin-left: auto;
		margin-right: auto; 
		line-height: 18px;
	}
	.quem-somos h1{
		font-size: 73px;
		line-height: 109px;
	}
	.bloco-clube{
		position: relative;
		width: 1000px;
		height: 450px;
		border-radius: 16px;
		box-sizing: border-box;
	}
	.clube h1{
		display: inline-block;
		font-size: 72px;
		margin-bottom: 20px;
		width: 50%;	
		text-align: right;
		line-height: 85px;
		padding-bottom: 60px;
	}
	.clube h1:first-child{
		margin-top: 7%;
	}
	.clube p{
		display: inline-block;
		margin-top: 8px;
		padding-top: 0;
		width: 50%;
		text-align:right;
		line-height: 27px;
	}
	.paragrafo{
		position: absolute;
		width: 500px;
		display: inline-block;
		width: 50%;
		top: 22%;
		right: 0;
	}
	.paragrafo p{
		width: 450px;
	}
	.soluçoes{
		height: auto;
		width: 1100px;
	} 
	.texto{
		font-size: 10px;
	}
	.titulo-soluçoes{
		width: 600px;
		vertical-align: center;
		height: 80px;
		margin-top: 20px;
		font-size: 72px;
		line-height: 60px;
	}
	.paragrafo-desktop{
		width: 60%
	}
	.hr-soluçoes{
		margin-bottom: 0;
		margin-top: 70px;
	}
	.soluçoes-card{
		margin-bottom: 20%;
	}
}